@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Lato:wght@300;400;700&family=Poppins:wght@400;500;600;700;800&family=Quicksand:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  transition: 0.1s all linear;
  user-select: none;
  -webkit-user-select: none;
}

:root {
  --color1: #d2e4e3d2;
  --color2: #aac3c4;
  --color3: #e6f0f0;
  --color4: #dae9ea72;
  --color5: #0b818e;
  --color6: #51a8b2;
  --color7: #83aaab;
  --background1: #877cfd;
  --background2: #b5f653;
  --text-color: #515656;
  --text-color2: white;
  --text-color3: black;
}

html {
  scroll-behavior: smooth;
}

.background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background .circle1 {
  position: absolute;
  top: 12rem;
  right: -10rem;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background: var(--background1);
  box-shadow: -50px 0 200px var(--background1);
}

.background .circle2 {
  position: absolute;
  top: 5rem;
  left: 10rem;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  background: var(--background2);
  box-shadow: 50px 50px 15rem var(--background2);
}

.blog {
  position: relative;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.blog .editblog {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: var(--color1);
    backdrop-filter: blur(20px);
    overflow-y: scroll;
}

.blog .editblog::-webkit-scrollbar {
  display: none;
}

.blog .editblog:hover::-webkit-scrollbar {
  display: block;
  width: 5px;
  border-radius: 5px;
}

.blog .editblog .editcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 35rem;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background: var(--color3);
  box-shadow: 0 0 30px var(--color2);
  overflow: hidden;
}

.blog .editblog .editcontent ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.blog .editblog .editcontent ul li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog .editblog form ul li:nth-child(1) label {
    width: 100%;
}

.blog .editblog form ul li:nth-child(1) label .gambarblog-view {
  width: 100%;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  padding: 1rem;
  cursor: pointer;
  background: no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.blog .editblog form ul li:nth-child(1) label .gambarblog-view i {
  font-size: 80px;
  color: var(--color6);
  line-height: 0;
}

.blog .editblog form ul li:nth-child(1) label .gambarblog-view p {
  font-size: 15px;
  font-weight: 500;
}

.blog .editblog form ul li:nth-child(1) label .gambarblog-view span {
  margin-top: .5rem;
  font-size: 10px;
  font-weight: 500;
  color: var(--text-color);
}

.blog .editblog form ul li:nth-child(2),
.blog .editblog form ul li:nth-child(3) {
  margin: 1.5rem 0 0;
  font-size: .9rem;
  font-weight: 500;
}

.blog .editblog form ul li:nth-child(2) label,
.blog .editblog form ul li:nth-child(3) label {
  width: 100%;
  margin-bottom: .5rem;
  margin-left: .3rem;
}


.blog .editblog form ul li:nth-child(2) span,
.blog .editblog form ul li:nth-child(3) span {
  color: var(--color5);
}

.blog .editblog form ul li:nth-child(2) input {
  width: 100%;
  position: relative;
  display: flex;
  font-size: 15px;
  padding: .5rem 1rem;
  border-radius: 40px;
  outline: 1.5px solid var(--color6);
  background: transparent;
}

.blog .editblog form ul li:nth-child(2) input:hover,
.blog .editblog form ul li:nth-child(2) input:focus {
  outline: transparent;
  background: var(--text-color2);
  box-shadow: 0 2px 5px #cdd4d4;
}

.blog .editblog form ul li:nth-child(3) textarea {
  resize: none;
  width: 100%;
  height: 12rem;
  font-size: 15px;
  padding: .5rem .7rem;
  border-radius: 10px;
  background: transparent;
  outline: 1.5px solid var(--color6);
}

.blog .editblog form ul li:nth-child(3) textarea::-webkit-scrollbar {
  display: none;
}

.blog .editblog form ul li:nth-child(3) textarea:hover::-webkit-scrollbar {
  display: block;
  width: 5px;
  border-radius: 5px;
}

.blog .editblog form ul li:nth-child(3) textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color2);
}

.blog .editblog form ul li:nth-child(3) textarea:hover,
.blog .editblog form ul li:nth-child(3) textarea:focus {
  outline: transparent;
  background: var(--text-color2);
  box-shadow: 0 2px 5px #cdd4d4;
}

.blog .editblog form ul button {
  width: 100%;
  font-size: 15px;
  margin-top: 1.5rem;
  padding: .6rem;
  border-radius: 20px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  background: linear-gradient(-40deg, var(--color5), var(--color6) 70%);
  background-size: 200% 200%;
}

.blog .editblog form ul button:hover {
  animation: gradient 4s linear infinite alternate;
}

@keyframes gradient {
  0%{
      background-position: 70% 300%;
  }
  
  50%{
      background-position: 0% 0%;
  }
  
  100%{
      background-position: 100% 100%;
  }
}

@media (max-width: 590px) {
 .blog .editblog form ul li:nth-child(1) label .gambarblog-view {
   width: 100%;
   height: 15rem;
 }

  .blog .editblog .editcontent {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .blog .editblog form ul li:nth-child(2) input {
    font-size: 14px;
    font-weight: 500;
  }

  .blog .editblog form ul li:nth-child(3) textarea {
    font-size: 14px;
  }
}

@media (max-width: 405px) {
  .blog .editblog form ul li:nth-child(2) input {
    font-size: 13px;
  }

  .blog .editblog form ul li:nth-child(3) textarea {
    font-size: 13px;
  }
}